* {
  box-sizing: border-box;
}

body, html {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;

}

button {
  font-family: inherit;
}

input {
  font-family: inherit;
}

.card {
	transition-property: all;
	transition-timing-function: ease-out;
	transition-duration: 400ms;
}

.card.ng-enter {
	opacity: 0;
}

.card.ng-enter-active {
	opacity: 1;
}

.card.ng-enter-stagger {
	transition-delay: 125ms;
	transition-duration: 0s;
}
