body {
	background-color: #fff;
}

.race-component {
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: stretch;
	max-width: 1000px;
	margin: 0 auto;
}

.race-component-header {
	text-align: center;
	height: 35px;
	padding: 10px;
	background-color: #a91e22;
	color: #fff;
	font-size: 31px;
	font-weight: 600;
	margin-bottom: 60px;
	width: 100%;
}

.race-component-button-box {
	min-width: 350px;
	flex: 1;
	display: flex;
	background-color: #F5F5F5;
	color: #383838;
	flex-direction: column;
	margin: 20px;
	box-shadow: 3px 3px 3px rgba(0, 0 ,0 ,.2);
  transition: box-shadow 150ms;
	border-radius: 3px;
	overflow: hidden;
	cursor: pointer;
}

.race-component-button-box:hover {
	box-shadow: 7px 7px 7px rgba(0, 0 ,0 ,.2);
}

.race-component-button-box:hover .race-component-name-box  {
	background-color: #c9191e;
}

.race-component-name-box {
	width: auto;
	background-color: #a91e22;
	color: #fff;
	font-size: 20px;
	padding: 20px 40px;
}

.race-component-info-box {
	margin: 30px 40px;
	display: flex;
	flex-wrap: wrap;
}

.race-component-description {
	flex: 2;
	min-width: 350px;
	margin-right: 60px;
}

.race-component-bonus-list {

	margin-right: 60px;
}

.race-component-speed-age {
}

.race-component-speed {
	margin-top: 20px;

}

.speed-size-container {

}
