body {
	background-color: #fff;
}

.race-component {
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: stretch;
	max-width: 1000px;
	margin: 0 auto;
}

@media (max-width: 850px) {
  .race-component {
	flex-direction: column;
	}
}

.race-component-header {
	text-align: center;
	height: 70px;
	padding: 15px;
	background-color: #a91e22;
	color: #fff;
	font-size: 31px;
	font-weight: 600;
	margin-bottom: 60px;
	width: 100%;
	box-shadow: 0px 1px 1px rgba(0, 0 ,0 ,.4);
}

@media (max-width: 750px) {
  .race-component-header {
	margin-bottom: 30px ;
	}
}

.race-component-main-box {
	display: flex;
	min-width: 350px;
	flex: 1;
	display: flex;
	background-color: #F5F5F5;
	color: #383838;
	flex-direction: column;
	margin: 20px;
	box-shadow: 3px 3px 3px rgba(0, 0 ,0 ,.2);
    transition: box-shadow 150ms;
	transition: transform 150ms;
	border-radius: 3px;
	overflow: hidden;
}

@media (max-width: 425px) {
  .race-component-main-box {
	min-width: 200px ;
	}
	.race-component-info-box {
		margin: 20px 0px 20px 0px;

	}
}

.race-component-main-box:hover .race-component-name-box  {
	background-color: #c9191e;
}

.race-component-name-box {
	display: flex;
	width: auto;
	background-color: #a91e22;
	color: #fff;
	font-size: 30px;
	padding: 20px 40px;
	justify-content: space-between;
}

.race-component-name-box > div {
	margin: none;
}

.race-component-name-box > button {
	width: 100px;
	height: 35px;
	border-radius: .5em;
	border: none;
	font-size: 16px;
	background-color: ;
}

.race-component-name-box > button:hover {
	box-shadow: 7px 7px 7px rgba(0, 0 ,0 ,.2);
	transform: scale(1.008);
	cursor: pointer;
	background-color: ;
	}

.race-component-info-box {
	margin: 30px 40px;
	display: flex;
	flex-wrap: wrap;

}

.race-component-description {
	flex: 2;
	min-width: 350px;

}

.race-component-description > p {
	padding-left: 5px;
}

@media (max-width: 425px) {
  .race-component-description {
	min-width: 200px ;
	}
}

.race-component-button-box {
	display: flex;
	flex: 3;
	align-items: flex-end;

}

.race-component-more-button {
	width: 100px;
	height: 35px;
	border-radius: .5em;
	border: none;
	margin-bottom: 15px;
	font-size: 20px;
	background-color: #F5F5F5;
	color: #1071B2;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;

}

.race-component-more-button:hover {
	transform: scale(1.008);
	cursor: pointer;
	text-decoration: underline;
	color: #69ACD1
}

.race-component-show-box {
	width: auto;
	display: flex;
	max-height: 0;
	overflow: hidden;
	transition: max-height 1s;
}

.race-component-show-box.open {
	max-height: 1000px;
}

@media (max-width: 425px) {
  .race-component-show-box {
	flex-direction: column;
	}
}


.race-component-first-collum {
	display: flex;
	flex-direction: column;
	margin-right: 60px;
	width: auto;
}

.race-component-first-collum > b {
	padding-bottom: 5px;
	margin-top: 20px;
	}

.race-component-bonus-list {

}

.race-component-bonus-list > b {
	padding-bottom: 5px;
}

.race-component-bonus-list > div {
	padding: 5px;
}

.race-component-starting-proficiencies {
	padding: 5px;
}

.race-component-sub-races {
	padding: 5px;
}

.race-component-second-collum {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: auto;
}

.race-component-second-collum > b {
	margin-top: 15px;
	padding-right: 10px;
}

.race-component-speed-box {

}

.race-component-speed > b {
	padding-right: 10px;
}

.race-component-speed {
	padding: 5px;
}

.race-component-languages {
	padding: 5px;
}

.race-component-traits {
	padding: 5px;
}

.loader-container {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}

.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #a91e22; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

.loader.ng-leave-active {
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.card {
	transition-property: all;
	transition-timing-function: ease-out;
	transition-duration: 400ms;
}

.card.ng-enter {
	opacity: 0;
}

.card.ng-enter-active {
	opacity: 1;
}

.card.ng-enter-stagger {
	transition-delay: 125ms;
	transition-duration: 0s;
}
