.progress-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.steps {
	width: 30px;
	height: 30px;
	background-color: #a91e22;
	margin: 10px;
	border-radius: 2em;
}



.selected {
	width: 35px;
	height: 35px;
	box-shadow: 2px 2px 2px;
}