<div class="new-character-container">
  <div class="quote-container">
    <h1 class="quote">Start your Adventure!</h1>
    <p>The D&D Toolkit will help you navigate the D&D universe to create a new character. It will allow you
    to pick a race, a class and give you a summary of the character.</p>
  </div>
  <div class="character-input-container">
    <input class="name-input" type="text" name="" value="" ng-model="$ctrl.name" placeholder="Enter Character Name">
    <button class="start-button" type="button" name="button" ng-click="$ctrl.setName($ctrl.name)">Start!</button>
  </div>
</div>

<progress-steps step="0" steps="3"></progress-steps>
