
body {
	background-color: #fff;
}

.class-component {
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: stretch;
	max-width: 1000px;
	margin: 0 auto;
}

.class-component-header {
	text-align: center;
	height: 70px;
	padding: 15px;
	background-color: #a91e22;
	color: #fff;
	font-size: 31px;
	font-weight: 600;
	margin-bottom: 60px;
	width: 100%;
}

.class-component-button-box {
	min-width: 350px;
	flex: 1;
	display: flex;
	background-color: #F5F5F5;
	color: #383838;
	flex-direction: column;
	margin: 20px;
	box-shadow: 3px 3px 3px rgba(0, 0 ,0 ,.2);
    transition: box-shadow 150ms;
		transition: transform 150ms;
	border-radius: 3px;
	overflow: hidden;
	cursor: pointer;
}

@media (max-width: 425px) {
  .class-component-button-box {
	min-width: 200px ;
	}

  .class-component-info-box {
	justify-content: flex-start;
  }
}

.class-component-button-box:hover {
	box-shadow: 7px 7px 7px rgba(0, 0 ,0 ,.2);
	transform: scale(1.008);
}

.class-component-button-box:hover .class-component-name-box  {
	background-color: #c9191e;
}

.class-component-name-box {
	width: auto;
	background-color: #a91e22;
	color: #fff;
	font-size: 20px;
	padding: 20px 40px;
}

.class-component-info-box {
	margin: 30px 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.class-component-hit-die {
	padding: 15px;
	margin-right: 15px;
}

.class-component-proficiencies {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	flex
	
}

.class-component-proficiencies b {
	padding: 5px;
}

.class-component-proficiency {
	padding: 5px;
}

.loader-container {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}

.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #a91e22; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
