<div class="class-component-header">Choose Your Class</div>
<div class="class-component" ng-if="$ctrl.classList">
	<div class="class-component-button-box" ng-click="$ctrl.setCharacterClass(class)" ng-repeat="class in $ctrl.classList">
		<div class="class-component-name-box">{{class.name}}</div>
		<div class="class-component-info-box">
			<div class="class-component-hit-die"><b>Hit Die: </b><br>{{class.hit_die}}</div>
			<div class="class-component-proficiencies"><b>Proficenties:</b>
				<div class="class-component-proficiency" ng-repeat="proficiency in class.proficiencies">{{proficiency.name}}</div>
			</div>
		</div>
	</div>
</div>
<div class="loader-container">
	<div class="loader" ng-if="!$ctrl.classList"></div>
</div>
<progress-steps step="2" steps="3" ng-if="$ctrl.classList"></progress-steps>
