body {
    background-color: #FFFFFF;

}
.summary-component-header {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 40px;
    background-color: #a91e22;
    color: #fff;
    font-size: 31px;
    font-weight: 600;
    margin-bottom: 60px;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    box-shadow: 0px 1px 1px rgba(0, 0 ,0 ,.4);
    text-align: right;
}

.summary-component-back-button {
    width: 100px;
    height: 35px;
    border-radius: .5em;
    border: none;
    font-size: 16px;
    background-color: ;
}

.summary-component-back-button:hover {
    box-shadow: 7px 7px 7px rgba(0, 0 ,0 ,.2);
    transform: scale(1.008);
    cursor: pointer;
    background-color: ;
}

.summary-main {
  display: flex;
  flex-direction: column;

}

@media (max-width: 750px) {
  .summary-component-header {
    margin-bottom: 30px;
  }
}

.character-summary-header {
  text-align: center;
  height: 70px;
  width: 100%;
  padding: 15px;
  background-color: #a91e22;
  color: #fff;
  font-size: 31px;
  font-weight: 600;
  width: 100%;
}


.summary-info {
    border-radius: 3px;
    overflow: hidden;
    background-color: #F5F5F5;
    color: #6D6E6E;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    width: 75%;
    height: 100%;
    box-shadow: 3px 3px 3px rgba(0, 0 ,0 ,.2);
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

@media (max-width: 425px) {
  .summary-info {
    width: auto;
    height: 100%;
  }
}

.character-header {
    display: flex;
    position: relative;
    width: 100%;
    background-color: #A91E22;
    color: white;
    align-items: center;
}

.character-header p {
    font-size: 30px;
    margin: 0;
    padding: 20px 40px;


}

.race-class {
    display: flex;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 40px;
}

.summary-race {
    margin: 10px;
    margin-left: 0px;
    padding-right: 10px;
}

.summary-class {
    margin: 10px 0px;
}

.stat-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.stats {
    padding: 7px;
    margin: 5px;
    border: 2px solid #6D6E6E;
    border-radius: 3px;
    background-color: #FFFFFF;
}

.stat-stat {
    font-weight: 300;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.stat-name {
    font-weight: 600;
}

.age {
    padding: 2px 40px;
}

.race-align {
    padding: 2px 40px;
}

.race-language {
    padding: 2px 40px;
}

.sheet {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 2px;
    padding-bottom: 40px;
}

.sheet a {
    text-decoration: none;
    color: #1071B2;
}

.sheet a:hover {
    color: #69ACD1;
    text-decoration: underline;
}
