body { 
    background-color: #FFFFFF;

}
.header {
    background-color: #A91E22;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.summary-main p {
    margin-left: 15px;
}
.summary-info {
    margin: 0 auto;
    border-radius: 5px;
    border: 2px solid #6D6E6E;
    overflow: hidden;
    background-color: #F5F5F5;
    color: #6D6E6E;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    width: 1000px;
    height: 400px;
}

.character-header {
    position: relative;
    width: 1000px;
    height: 50px;
    background-color: #A91E22;
    color: white;
}

.character-header h1 {
    position: absolute;
    top: -15px;
    left: 15px;
}

.race-class {
    display: flex;
    font-weight: 400;
}

.summary-race {
    margin: 10px 3px;
}

.summary-class {
    margin: 10px 3px;
}