<div class="header">
 <div class="character-summary-header">Character Summary</div>
</div>

<div class="summary-main">
  <div class="summary-info">
    <div class="character-header">
      <p ng-model="$ctrl.character.name">{{$ctrl.character.name}}</p>
    </div>
    <div class="race-class">
      <p class="summary-race">{{$ctrl.character.race.name}}</p>
      <p class="summary-class">{{$ctrl.character.class.name}}</p>
    </div>
    <div class="stat-list">
      <div class="stats" ng-repeat="(name, stat) in $ctrl.character.stats">{{name}}: {{stat}}</div>
    </div>
    <p>{{$ctrl.character.race.age}}</p>
    <p>{{$ctrl.character.race.alignment}}</p>
    <p>{{$ctrl.character.race.language_desc}}</p>
  </div>
  <progress-steps step="3" steps="3"></progress-steps>
</div>
